/*
Colors used
Primary colors:
White 		  #FFFFFF;
Grey 		    #919191;
Light Blue 	#124AA8;
Dark Blue 	#001F52;
Black 		  #000000;

Complementary colors:
White       #FFFFFF;
Light grey  #DBDBDA;
Orange      #FDA404;
Brown       #7D5100;
Black       #000000;

Font families
'Open Sans', sans-serif
'Roboto Slab', serif
 */

* {
  box-sizing: border-box;
}

body {
  /*font family and size */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Line height */
  line-height: 1.6;
}

/*Styling of the headers*/

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: center
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

/*Start styling of the links*/

a {
  /*Base color of the link*/
  color: #FDA404;
}

a:hover, a:focus {
  /*No underline when hovering over link or selecting it with keyboard*/
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #7D5100;
}

/*Styling of the navigation menu*/

nav a {
  color: #124AA8;
}

nav a:hover, nav a:active {
  color: #001F52;
}

/*Styling button */

button {
  /* overwrite browser defaults */
  /* reset the border */
  border: none;
  /* inherit the font from the outer container */
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  /* style button */
  background-color: #FDA404;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7D5100;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

button:hover, button:focus {
  cursor: pointer;
  /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
  color: #FFFFFF;
}

/*Standard styling images on max-width*/

img {
  max-width: 100%;
}

/*Styling section & container */

section:before, section:after, header::before, header::after, .container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " ";
}

section:after, header::after, .container:after, .row:after {
  clear: both;
}

/*Styling #work */

#work .row {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}

#about .about {
  text-align: center;
}

.contact {
  text-align: center;
}

svg {
  width: 10%;
}
/* Layout styling */

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/*Column styling */

.column-container {
  font-size: 0;
}

.column {
  float: left;
  width: 50%;
}

.column-2 {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.column-2 img {
  max-width: 100%;
}

.column-3 {
  font-size: 16px;
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  float: left;
  text-align: center;
}

.column-3:last-child {
  margin-right: 2;
}

.column-3 img {
  max-width: 100%;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  float: left;
}

.column-4:last-child {
  margin-right: 0;
}

.column-4 img {
  max-width: 100%;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation>li {
  display: inline-block;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
  text-align: center;
}


.container {
  position: relative;
  float: middle
}

.container-block {
  display: block;
}

.container-inline-block {
  display: inline-block;
}

.container {
  position: relative;
}


/*// Small devices (landscape phones, less than 768px) */

@media (max-width: 767px) {
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: center;
  }
  .column-2 {
    /* Modify 2-column to 1-columns */
    width: 99%;
    margin-right: 1%;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/

@media all and (max-width: 575px) {
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: center;
  }

  .column-2 {
    /* Modify 2-column to 1-columns */
    width: 99%;
    margin-right: 1%;
  }
  .column-2:nth-child(1) {
    margin-right: 0;
  }
}
